@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


 .container {
  max-width: 100%;
    max-height: 100%;
  /* border: 2px solid red; */
} 

.my-row{
  max-height: 190px;
  /* border: 2px solid blue; */
}

.my-row2{
  max-height: 610px;
  /* border: 2px solid green; */
}

.my-irow{
  /* border: 2px solid yellow; */
  max-height: 310px;
}
.my-orow{
  /* border: 2px solid pink; */
  max-height: 310px;
}

.my-col{
  /* border: 2px solid black;  */
  max-height: 610px;

}

.textarea,.textareaio{
  resize: none;
  
}
body{
    font-family: 'Poppins', sans-serif;
  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.bar {
  display: flex;
  justify-content:space-evenly;

}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}
.sidebar{
  /* max-height: 100%; */
  display:flex;
  flex-direction: column;
  float: left;
  margin: 50px 0px 25px 10px;
}

.dpdown{

  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  
}